doctype html
html
	head
		title= 'tomato'
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='author', content='William Gaul')
		link(rel='stylesheet', type='text/css', href='main.css')
	body
		input#menu-trigger.menu-trigger(type='checkbox')
		label(for='menu-trigger')

		.bg
			.blurred
			.moving

		#visualizer

		#trackInfo
			img#infoImage(src='')
			div
				h4#infoArtist
				h3#infoTrack

		.menu
			audio#player(controls='' autoplay='' preload autobuffer)
			input#submit.form-control(placeholder='SoundCloud URL here')

		script(type='text/javascript', src='http://connect.soundcloud.com/sdk.js')
		script(type='text/javascript', src='main.js')
